@tailwind base;
@tailwind components;
@import url("https://cdn.syncfusion.com/ej2/material.css");
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
li {
  list-style-type: none;
  list-style: none;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

@layer components {
  .label {
    @apply block text-sm font-semibold text-gray-600;
  }
}

.input {
  @apply outline-none p-2 border w-full rounded-xs h-10 border-slate-300 my-2;
}

.image-input {
  @apply outline-none p-2 border w-full rounded-xs h-10 border-slate-300 my-2;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.pay-button {
  @apply w-full bg-[#F05279] text-white rounded-xs sm:mt-[31px] py-2;
}

@layer components {
  .btn-white {
    @apply cursor-pointer shadow-sm  transition-all duration-150  py-2 px-7 bg-gray-200 text-black hover:rounded-4xl rounded-sm font-medium hover:shadow-md hover:bg-gray-100 focus:outline-none;
  }
  .btn-brown {
    @apply cursor-pointer py-2 transition-all duration-150 px-9 hover:bg-gray-200 hover:text-black text-white rounded-4xl font-medium shadow-md bg-[#f5558d] focus:outline-none;
  }

  .nav-list {
    @apply gap-4 hover:text-rose-500 cursor-pointer;
  }
}
